# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
AUTH_SECRET = "THIS_IS_A_SECRET"
NEXT_PUBLIC_API_URL = "https://backend.api.com"
